NEXT_PUBLIC_SITE_URL=https://store.saeggabon.ga
NEXT_PUBLIC_WP_URL=https://admin.store.saeggabon.ga
NEXT_PUBLIC_WP_PUBLIC_URL=https://admin.store.saeggabon.ga
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_SAEG_WHATSAPP_SHARE_NUMBER=24177638864
SAEG_WC_BASE_URL=https://admin.store.saeggabon.ga
SAEG_WC_CONSUMER_KEY=ck_replace_me
SAEG_WC_CONSUMER_SECRET=cs_replace_me
SAEG_DEFAULT_CURRENCY=XAF
SAEG_WHATSAPP_SHARE_NUMBER=24177638864
SAEG_ORDER_STATUS_ON_CREATE=pending
