NEXT_PUBLIC_SITE_URL=https://boutique.agropag.ga
NEXT_PUBLIC_WP_URL=https://admin.agropag.ga
NEXT_PUBLIC_WP_PUBLIC_URL=https://admin.agropag.ga
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_AGROPAG_WHATSAPP_SHARE_NUMBER=24177638864
AGROPAG_WC_BASE_URL=https://admin.agropag.ga
AGROPAG_WC_CONSUMER_KEY=ck_replace_me
AGROPAG_WC_CONSUMER_SECRET=cs_replace_me
AGROPAG_DEFAULT_CURRENCY=XAF
AGROPAG_WHATSAPP_SHARE_NUMBER=24177638864
AGROPAG_ORDER_STATUS_ON_CREATE=pending
