WP_HOME=https://admin.agropag.ga
WP_SITEURL=https://admin.agropag.ga
FORCE_SSL_ADMIN=true
AGROPAG_ALLOWED_FRONT_ORIGIN=https://boutique.agropag.ga
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=
AGROPAG_OTP_CHANNEL=sms
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
