WP_HOME=https://admin.store.saeggabon.ga
WP_SITEURL=https://admin.store.saeggabon.ga
FORCE_SSL_ADMIN=true
SAEG_ALLOWED_FRONT_ORIGIN=https://store.saeggabon.ga
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
