WP_HOME=https://admin.agropag.ga
WP_SITEURL=https://admin.agropag.ga
FORCE_SSL_ADMIN=true
AGROPAG_ALLOWED_FRONT_ORIGIN=https://boutique.agropag.ga
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
