admin.store.saeggabon.ga {
  root * /var/www/admin.store.saeggabon.ga/public
  encode zstd gzip
  php_fastcgi unix//run/php/php8.2-fpm.sock
  file_server

  @api path /wp-json/*
  header @api Cache-Control "no-store"
}

store.saeggabon.ga {
  reverse_proxy 127.0.0.1:3000
  encode zstd gzip
}
